.main {
    position: relative;
    margin-top: 4rem;
    margin-left: 4rem;

    &__card {
        display: flex;
        flex-wrap: wrap;
    }
}

.card {
    width: 39rem;
    background-color: #EEEEEE;
    min-height: 16.1rem;
    border-radius: .8rem;
    padding: 1rem;
    margin: 1rem;

    &__button {
        display: flex;
        justify-content: center;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 700;
    }
}