<div class="header">
  <div class="header__left">
    <div class="header__img">
      <img src="../../../../assets/logo_p6.png" alt="logo" />
    </div>
  </div>
  <div class="header__right">
    <div class="menu__logoUser">
      <div class="header__menu">
        <ul>
          <li (click)="goPost()">Articles</li>
          <li (click)="goTopic()">Thèmes</li>
        </ul>
      </div>
      <div class="header__logoUser">
        <img
          src="../../../../assets/useruserImg.png"
          alt="user image"
          (click)="goProfile()"
        />
      </div>
    </div>
    <div class="header__logoMenu">
      <img src="../../../../assets/menuLogo.png" alt="logo menu" />
    </div>
  </div>
</div>
