.post {
    &__main {
        padding: 1rem;
    }

    &__option {
        display: flex;
        justify-content: space-between;
        height: 8rem;
        position: relative;

        @media(max-width: 37.5em) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__card {
        display: flex;
        flex-wrap: wrap;

        @media(max-width: 37.5em) {
            justify-content: center;
        }
    }

    &__list {
        margin: 2rem;
    }
}

.option {

    &__right {
        font-weight: 700;
        position: absolute;
        right: 4rem;
        top: 1.7rem;
        cursor: pointer;

        @media(max-width: 37.5em) {
            position: relative;
            right: 0;
        }
    }

    &__left {
        position: relative;
        left: 10px;

        @media(max-width: 37.5em) {
            left: 0;
        }
    }
}

.createPostButton {
    width: 15.3rem;
    height: 4rem;
}