.card {
    background: rgba(245, 245, 245, 1);
    width: 35.9rem;
    height: 18rem;
    padding: 1.5rem;
    position: relative;
    border-radius: .8rem;
    cursor: pointer;

    @media(max-width: 25em) {
        width: 30rem;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1.6rem;
    }

    &__contain {
        margin-left: 1.6rem;
    }
}

.subtitle {

    &__date,
    &__auteur {
        color: black
    }

    &__auteur {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}